[Unit]
Description=Node.js mailman service
After=network.target

[Service]
Type=simple
User=postman
WorkingDirectory=/home/postman/mailman/
ExecStart=/usr/bin/node /home/postman/mailman/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
